{% extends 'base.html' %}
{% load i18n %}
{% load gluu_tags %}
{% load crispy_forms_tags %}
{% block content %}
<div class="form-area">
    <div class="col-md-8 form-left-area">
        <div class="page-header">
            <h3>{% trans "Edit ticket" %}: {{ticket.title}}</h3>
        </div>
        {% crispy ticket_form %}
        <input type="hidden" id="ticket-id" name="ticket-id" value="{{ticket.id}}">
    </div>
    <div class="col-md-4 form-side-bar">
      <div class='gluu-info-box'>
        <h3>How to Ask</h3>
        <hr/>
        <ul>
          <li>Make sure your server or VM is 64-bit with at least 4GB RAM and 2 CPU units</li>
          <li>Summarize the specific problem</li>
          <li>Include all relevant details and share your research</li>
          <li>Include all <a href="https://gluu.org/docs/ce/operation/logs/" target="_blank">relevant logs</a> and screenshots</li>
        </ul>
        <p class="gluu-pargraph"><a href="https://support.gluu.org/docs/user-guide/how-to-ask/" target="_blank">Read our ticket creation guide.</a></p>
      </div>
      <div class='gluu-info-box answers'>
        <h3>Related Tickets</h3>
        <hr/>
        <ul>
            <li><span>Enter a title to check relevant tickets</span></li>
        </ul>
      </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to discard this ticket?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Continue Editing</button>
        <a href = "{{ticket|linkify}}"><button type="button" class="btn btn-primary">Cancel</button></a>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock content %}
{% block js %}
	<script>	
	  docs = {{documents}};
      basicTicket = "{{ticket.owned_by.is_basic}}";
	</script>

  <script src="/static/js/edit_ticket.js" language="javascript" type="text/javascript"></script>

  <script src="/static/js/add_ticket.js" language="javascript" type="text/javascript"></script>

  <script src="/static/js/file_management.js" language="javascript" type="text/javascript"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector border-class qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Select files</div>
            </div>
            <p>Add up to 4 files. Valid file types are png, jpg, docx, xlxs, pdf, ppt, zip and rar.</p>

        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list qq-hide" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" name="image_src" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <div class="qq-hide qq-cancel"><button type="button" class="qq-btn  qq-upload-cancel"></button></div>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-hide qq-upload-retry"></button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>
<script>

    allCategories = gatherAllCategories();
    function gatherAllCategories(){
        allCategories = {};
        $('#id_ticket_category option').each(function(){
            allCategories[$(this).text().trim()] = $(this).val();
        });
        return allCategories;
    }
    $('#id_issue_type').change(function(e){

        selectedIssueValue = $(this).find('option:selected').val();
		$("#id_ticket_category").select2("val","");
        if (selectedIssueValue == 'outage'){
            $('#div_id_ticket_category').addClass('hidden');
            if(selectedIssueValue == 'outage'){
                $("#id_ticket_category option[value='"+allCategories['Outages']+"']").prop('selected', true);
            }
        }
    });
    var manualUploader = new qq.FineUploader({
        element: document.getElementById('fine-uploader-manual-trigger'),
        template: 'qq-template-manual-trigger',

        request: {
            endpoint:'../../../tickets/files/'
        },
        thumbnails: {
            placeholders: {
                waitingPath: '/static/img/waiting-generic.png',
                notAvailablePath: '/static/img/not_available-generic.png'
            }
        },

        autoUpload: true,
        debug: true
    });


</script>
<link rel="stylesheet" href="{{STATIC_URL}}css/simplemde.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="{{STATIC_URL}}js/simplemde.min.js"></script>

<script>
   $(".os_version").on("change", function(){
        if($(this).val() == "Other"){
            $("#div_id_os_name").removeClass("hidden");
            $("#div_id_gluu_server_version").removeClass("col-md-4");
            $("#div_id_gluu_server_version").addClass("col-md-3");
            $("#div_id_os_version").removeClass("col-md-4");
            $("#div_id_os_version").addClass("col-md-3");
            $("#div_id_os_version_name").removeClass("col-md-4");
            $("#div_id_os_version_name").addClass("col-md-3");
            $("#div_id_os_name").removeClass("col-md-4");
            $("#div_id_os_name").addClass("col-md-3");
        }else{
            $("#div_id_os_name").addClass("hidden");
            $("#id_os_name").val("N/A");
            $("#div_id_gluu_server_version").addClass("col-md-4");
            $("#div_id_gluu_server_version").removeClass("col-md-3");
            $("#div_id_os_version").addClass("col-md-4");
            $("#div_id_os_version").removeClass("col-md-3");
            $("#div_id_os_version_name").addClass("col-md-4");
            $("#div_id_os_version_name").removeClass("col-md-3");
            $("#div_id_os_name").addClass("col-md-4");
            $("#div_id_os_name").removeClass("col-md-3");
        }
    });
    if($("#id_os_version").val() == "Other"){
        $("#div_id_os_name").removeClass("hidden");
        $("#div_id_gluu_server_version").removeClass("col-md-4");
        $("#div_id_gluu_server_version").addClass("col-md-3");
        $("#div_id_os_version").removeClass("col-md-4");
        $("#div_id_os_version").addClass("col-md-3");
        $("#div_id_os_version_name").removeClass("col-md-4");
        $("#div_id_os_version_name").addClass("col-md-3");
        $("#div_id_os_name").removeClass("col-md-4");
        $("#div_id_os_name").addClass("col-md-3");
    }else{
        $("#div_id_os_name").addClass("hidden");
        $("#id_os_name").val("N/A");
        $("#div_id_gluu_server_version").addClass("col-md-4");
        $("#div_id_gluu_server_version").removeClass("col-md-3");
        $("#div_id_os_version").addClass("col-md-4");
        $("#div_id_os_version").removeClass("col-md-3");
        $("#div_id_os_version_name").addClass("col-md-4");
        $("#div_id_os_version_name").removeClass("col-md-3");
        $("#div_id_os_name").addClass("col-md-4");
        $("#div_id_os_name").removeClass("col-md-3");
    }

    if( $("#id_os_version").val() == "" && $("#id_os_version").val() == null )
        $("#div_id_os_name").removeClass("hidden");
    else if($("#id_os_name").val() != "N/A")
        $("#div_id_os_name").removeClass("hidden");

   var simplemde = new SimpleMDE({
   autofocus: true,
    blockStyles: {
        bold: "__",
        italic: "_"
    },
    element: document.getElementById("id_description"),
    insertTexts: {
        horizontalRule: ["", "\n\n-----\n\n"],
        image: ["![](http://", ")"],
        link: ["[", "](http://)"],
        table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -- | -- | -- |\n| Text  | Text | Text |\n\n"],
    },
    placeholder: "## Expected behavior\n\n## Actual behavior\n\n## Minimized example \n *Minimal, complete configuration that reproduces the behavior.* \n\n ## Configuration and Log files\n *Config and logs for the minimized example, provided as attachments or linked to a service like pastebin.*",
    shortcuts: {
        drawTable: "Cmd-Alt-T"
    },
    showIcons: ["code", "table"],
});
$( ".CodeMirror" ).resizable({maxWidth:"728",minWidth:"728"});
</script>


{% endblock js %}
