{% load i18n %}

<div class="col-md-3">
    <div class="well well-sm">
        <form action="{% url 'edit_ticket_inline' ticket.id %}" method="post" role="form" id="ticket_info">{% csrf_token %}
            <span class="pull-left"><strong>#{{ticket.id}}</strong></span>
            <a type="button" href="{% url 'edit_ticket' ticket.id %}" style="margin-left:5px;margin-right:5px;" class="btn btn-xs btn-primary pull-right"><span class="glyphicon glyphicon-edit"></span> {% trans 'Edit' %}</a>
            <a type="button" href="{% url 'history_ticket' ticket.title|slugify ticket.id %}" class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-eye-open"></span> {% trans 'History' %}</a>
            <div class="clearfix"></div>
            <hr />
            <div class="clearfix"></div>
            <label class="info-left-result">Created by:</label>
            <p class="info-right-result">
                <a href="{% url 'profile:dashboard' 'all-tickets'%}?created_by={{ticket.created_by.id}}">
                    {{ticket.created_by}}
                </a>
            </p>
            <div class="clearfix"></div>

            <label class="info-left-result">Organization:</label>
            <p class="info-right-result"> <a href="/dashboard/all-tickets/?company={{organization}}">{{organization}}</a></p>
            <div class="clearfix"></div>

            {% if ticket.created_for %}

                <label class="info-left-result">On behalf of:</label>
                <p class="info-right-result">
                    <a href="{% url 'profile:dashboard' 'all-tickets'%}?created_by={{ticket.created_for.id}}">
                        {{ticket.created_for}}
                    </a>
                </p>
                <div class="clearfix"></div>

            {% endif %}


            <label class="info-left-result">Status:</label>
            <p class="info-right-result">{{ticket_form.status}}</p>
            <div class="clearfix"></div>

            <label class="info-left-result">Assigned to:</label>
            <p class="info-right-result">{{ticket_form.assigned_to}}</p>
            <div class="clearfix"></div>

            <!-- <label class="info-left-result"></label> -->
            <p class="pull-right">
                {% if ticket.assigned_to %}
                    <a href="{% url 'profile:dashboard' 'all-tickets'%}?assigned_to={{ticket.assigned_to.id}}">
                        All assigned to {{ticket.assigned_to}}
                    </a>
                {% else %}
                    <a href="{% url 'profile:dashboard' 'unassigned'%}">
                        All unassigned tickets
                    </a>
                {% endif%}
            </p>
            <div class="clearfix"></div>

            {% if ticket.issue_type %}
                <label class="info-left-result">Issue Type:</label>
                <p class="info-right-result">{{ticket.get_issue_type_display}}</p>
                <div class="clearfix"></div>
            {% endif %}

            <label class="info-left-result">Category:</label>
            <p class="info-right-result">{{ticket.get_ticket_category_display}}</p>
            <div class="clearfix"></div>

            <label class="info-left-result">Added:</label>
            <p class="info-right-result">{{ticket.date_added|date:"D d M Y"}}</p>
            <div class="clearfix"></div>

            <label class="info-left-result">Updated:</label>
            <p class="info-right-result">{{ticket.date_modified|date:"D d M Y"}}</p>
            <div class="clearfix"></div>

            <br />
            {% if ticket.status != 'closed' %}
                <a type="button" onclick="if (confirm('Are you sure that you want to close this ticket?') == true){return true;}else{return false}" href="{% url 'close_ticket' ticket.id %}" class="close_ticket btn btn-xs btn-primary pull-right gluu-remove-icon">
                    <span class="glyphicon glyphicon-ok"></span> {% trans 'Close' %}
                </a>
            {% endif %}


            <button type="submit" class="btn btn-xs btn-primary pull-right gluu-remove-icon" value="Save">
                <span class="glyphicon glyphicon-check"></span> {% trans 'Save' %}
            </button>

            <div class="clearfix"></div>
        </form>
    </div>

    <div class="well well-sm">

        <h4 class="pull-left">User details</h4>
        <div class="clearfix"></div>

        <label class="info-left-result">Name:</label>
        <p class="info-right-result">
            <a href="{% url 'profile:dashboard' 'all-tickets'%}?created_by={{ticket.owned_by.id}}">
                {{ticket.owned_by}}
            </a>
        </p>
        <div class="clearfix"></div>

        <label class="info-left-result">Role:</label>
        <p class="info-right-result">
        {% if ticket.owned_by.is_named %}
            Named User
        {% else %}
            {{ticket.owned_by.get_type|title}}
        {% endif %}
        </p>
        <div class="clearfix"></div>

        <label class="info-left-result">Email:</label>
        <p class="info-right-result"><a href="mailto:{{ticket.owned_by.email}}">{{ticket.owned_by.email}}</a></p>
        <div class="clearfix"></div>

        <label class="info-left-result">Organization:</label>
        {% if ticket.owned_by.get_company %}
            <a  class="info-right-result" href="{% url 'profile:dashboard' 'all-tickets'%}?company={{ticket.owned_by.get_company}}">{{ticket.owned_by.get_company}}</a>
        {% else %}
            <p class="info-right-result">n/a</p>
        {% endif %}
        <div class="clearfix"></div>

        <div id="support-plan">
        </div>

    </div>
</div>
