{% extends 'base.html' %}
{% load i18n %}
{% load gluu_tags %}
{% block content %}
<div class="page-header">
    <h3>Tickets related to <strong>{{ title }}</strong></h3>
</div>
{% if tickets %}
    <div class="row">
        <div class="col-md-12">
            {% for t in tickets %}
                <div class="list-group {% if user.is_staff %}{{t.priority|lower}}{% endif %}">
                    <a href="{{t|linkify}}" class="list-group-item">
                        <h4 class="list-group-item-heading viewd_link">{{t.title|truncatechars:120}}</h4>
                        <ul class="list-inline">
                            <li><span class="label label-{{t.status|slugify|lower}}">{{t.status}}</span></li>
                            <li><span class="label label-{{t.privacy}}">{{t.privacy}}</span></li>
                            <li><span class="badge">{{t.answers_no}}</span> {% trans "response" %}{{t.answers_no|pluralize}}</li>
                            <li>{% trans 'by' %} {{t.owned_by}} <span class="label label-{{t.owned_by.get_type|lower}}">{{t.owned_by.get_type}}</span></li>
                        </ul>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<ul class="pagination" style="float:right">
    {% if tickets.has_previous %}
        <li><a href="?page=1">&laquo;</a></li>
        <li><a href="?page={{tickets.previous_page_number}}">&lsaquo;</a></li>
    {% endif %}
    {% if tickets.paginator.num_pages >= 10 %}
        {% for p in pager.first %}
            <li {% if p == tickets.number %}class="active"{% endif %}><a {% if p == tickets.number %}name="{{p}}"{% else %}href="?page={{p}}"{% endif %}>{{p}}</a></li>
        {% endfor %}
        {% if pager.center  %}
            <li><a name="">...</a></li>
            {% for p in pager.center %}
                <li {% if p == tickets.number %}class="active"{% endif %}><a {% if p == tickets.number %}name="{{p}}"{% else %}href="?page={{p}}"{% endif %}>{{p}}</a></li>
            {% endfor %}
        {% endif %}
        {% if pager.last  %}
            <li><a name="">...</a></li>
            {% for p in pager.last %}
                <li {% if p == tickets.number %}class="active"{% endif %}><a {% if p == tickets.number %}name="{{p}}"{% else %}href="?page={{p}}"{% endif %}>{{p}}</a></li>
            {% endfor %}
        {% endif %}
    {% else %}
        {% for p in tickets.paginator.page_range %}
            <li {% if p == tickets.number %}class="active"{% endif %}><a {% if p == tickets.number %}name="{{p}}"{% else %}href="?page={{p}}"{% endif %}>{{p}}</a></li>
        {% endfor %}
    {% endif %}
    {% if tickets.has_next %}
        <li><a href="?page={{tickets.next_page_number}}">&rsaquo;</a></li>
        <li><a href="?page={{tickets.paginator.num_pages}}">&raquo;</a></li>
    {% endif %}
    <button style="margin-left:20px" type="button" class="btn btn-default btn-default">
        Page <strong>{{ tickets.number }}</strong> of {{ tickets.paginator.num_pages }}
    </button>
</ul>

{% endblock content %}

{% block js %}
<script src="/static/js/jquery.autocomplete.js" language="javascript" type="text/javascript"></script>
<script src="/static/js/live_search.js" language="javascript" type="text/javascript"></script>
{% endblock js %}

{% block headcss %}
<link href="{{ STATIC_URL }}css/autocomplete-styles.css" rel="stylesheet">
{% endblock headcss %}
