{% extends 'emails/base_template.html' %}
{% block content %}

<div class="message_container">

	<p>Hello Gluu,</p>

	<p>A new user has registered on {{site_name}}:</p>
	<p>
		First Name: {{user.first_name}}<br/>
		Last Name: {{user.last_name}}<br/>
		Email: {{user.email}}<br/>
		Company: {{user.company}} <br/>
		Job Title: {{user.job_title}}<br/>
		Mobile Phone Number: {{user.mobile_number}}<br/>
		Role: {{user.crm_type}} {% if user.is_company_admin %};<strong> company admin </strong> {% endif %} <br/>
	</p>
	<p>Thank you, <br />
	Gluu Support </p>

</div>

{% endblock %}
