$body-bg: #f0f1f3;
$body-color: #686868;
$nav-bg: #e8e8e8;
$main-container-bg: #fff;
$footer-bg: #e8e8e8;
$bootstrap3-pm-bg: #337ab7;
$bootstrap3-pm-border: #2e6da4;
$bootstrap4-pm-bg: #007bff;
$bootstrap4-pm-border: #007bff;
$ticket-community-border: #8c8c8c;
$ticket-new-dev-border: #3454D3;
$ticket-pre-prod-border: #34981d;
$ticket-minor-border: #f00985;
$ticket-badge-new-bg: #000;
$ticket-badge-inprogress-bg: #04abef;
$ticket-badge-pending-bg: #d71010;
$ticket-badge-closed-bg: #909090;
$ticket-badge-user-bg: #000;
$ticket-badge-named-bg: #ff985f;
