{% load i18n %}
{% load gluu_tags %}
{% load highlight %}
<div class="row">
    <div class="col-md-12 ">
        {% if page_obj.object_list %}
        <div class="live-search-pane">
            {% for result in page_obj.object_list %}
            <div class="col-md-12">
                {% if result.object %}
                <a href="{{ result.object | linkify }}">
                    <h5><span class='glyphicon glyphicon-file'></span>
                        {% highlight result.object.title with form.q.value %}
                    </h5>
                </a>
                <p><strong>{{result.object.category}} | {{result.object.date_added|date:"m-d-Y"}}</strong></p>
                <p class='live-search-overflow'>
                    {% highlight result.object.description with form.q.value max_length 500 %}
                </p>
                {% else %}
                <h5><span class='glyphicon glyphicon-file'></span>Deleted Ticket</h3>
                    {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

