{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="page-header">
        <h3>{% trans "Dashboard" %}</h3>
    </div>

    <div class="row">
        {% include "profiles/dashboard_menu.html" %}
        <div class="col-md-9">
            <div class="dashboard_filters">
                <span class="dashboard_filer_button"><span class="glyphicon glyphicon-plus-sign"></span> Show advanced filters</span>
                <form class="form-inline dashboard_filter_form" action="" method="get">
                    {% if user.is_admin %}
                    <div class="col-xs-6 form-group">
                        <label for="id_named">Named contact?</label>
                        {{filters_form.named}}
                    </div>
                    <div class="col-xs-6 form-group">
                        <label for="id_company">Company</label>
                        {{filters_form.company}}
                    </div>
                    {% endif %}
                    <div class="clearfix"></div>
                    <div class=" col-xs-6 form-group">
                        <label for="id_status">Status</label>
                        {{filters_form.status}}
                    </div>
                    <div class="col-xs-6 form-group">
                        <label for="id_category">Category</label>
                        {{filters_form.category}}
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-6 form-group">
                        <label for="id_isue_type">Issue Type</label>
                        {{filters_form.issue_type}}
                    </div>
                    {% if user.is_admin %}
                    <div class="col-xs-6 form-group">
                        <label for="id_assigned_to">Assigned to</label>
                        {{filters_form.assigned_to}}
                    </div>
                     <div class="clearfix"></div>
                    {% endif %}
                    {%if not user.is_basic %}
                        <div class="col-xs-6 form-group">
                            <label for="id_created_by">Created by</label>
                            {{filters_form.created_by}}
                        </div>
                    {% endif %}
                    <div class="col-xs-6 form-group">
                        <label for="id_created_date">Created date</label>
                        {{filters_form.created_filters}}<br />{{filters_form.created_date}}
                    </div>
                    <div style="text-align:center; margin-top:30px;" class="col-xs-12 form-group">
                        <button class="btn btn-info" type="submit" name="filter" style="margin-right:10px;">Filter</button>
                        <button id="filter_reset" class="btn btn-default" type="reset" >Reset</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <table id="dashboardtable" width="850" class="compact table table-hover table-dashboard table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Details</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Issue type</th>
                        <th>Added</th>
                        {% if user.is_admin %}
                        <th>Assigned</th>
                        {% endif%}
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock content %}
{% block js %}
<script>
    App.pageName = 'dashboard';
    cur_page = '{{page_type}}';
</script>
{% endblock js %}
