{% load i18n %}
<div class="col-md-3">
    <div class="well well-sm">
        <ul class="nav nav-pills nav-stacked">
            {% if user.is_admin %}
                <li {% if page_type == 'my-assignments' or page_type == 'in-progress-tickets' or page_type == 'pending-tickets' or page_type == 'on-hold-tickets' %}class="active"{% endif %}><a href="{% url 'profile:dashboard' 'my-assignments' %}">{% trans 'My Assignments' %}</a></li>
                <li>
                    <ul>
                        <li><a {% if page_type == 'in-progress-tickets' %}style="text-decoration:underline;"{% endif %} href="{% url 'profile:dashboard' 'in-progress-tickets' %}">{% trans 'In progress tickets' %}</a></li>
                        <li><a {% if page_type in 'pending-tickets' %}style="text-decoration:underline;"{% endif %} href="{% url 'profile:dashboard' 'pending-tickets' %}">{% trans 'Pending tickets' %}</a></li>
                    </ul>
                </li>
                <li {% if page_type == 'unassigned' %}class="active"{% endif %}><a href="{% url 'profile:dashboard' 'unassigned' %}">{% trans 'Unassigned' %}</a></li>
                <li {% if page_type == 'view-users' %}class="active"{% endif %}><a href="{% url 'profile:dashboard' 'view-users' %}">{% trans 'View Users' %}</a></li>
                <li {% if page_type == 'all-tickets' or page_type == 'open-tickets' or page_type == 'closed-tickets' %}class="active"{% endif %}><a href="{% url 'profile:dashboard' 'all-tickets' %}">{% trans 'All Tickets' %}</a></li>
                <li>
                    <ul>
                        <li><a {% if page_type == 'open-tickets' %}style="text-decoration:underline;"{% endif %} href="{% url 'profile:dashboard' 'open-tickets' %}">{% trans 'Open tickets' %}</a></li>
                        <li><a {% if page_type == 'closed-tickets' %}style="text-decoration:underline;"{% endif %} href="{% url 'profile:dashboard' 'closed-tickets' %}">{% trans 'Closed tickets' %}</a></li>
                    </ul>
                </li>
            {% endif %}
            <li {% if page_type == 'my-tickets' or page_type == 'my-open-tickets' or page_type == 'my-closed-tickets' %}class="active"{% endif %}><a href="{% url 'profile:dashboard' 'my-tickets' %}">{% trans 'My Tickets' %}</a></li>
            <li>
                <ul>
                    <li><a {% if page_type == 'my-open-tickets' %}style="text-decoration:underline;"{% endif %} href="{% url 'profile:dashboard' 'my-open-tickets' %}">{% trans 'Open tickets' %}</a></li>
                    <li><a {% if page_type == 'my-closed-tickets' %}style="text-decoration:underline;"{% endif %} href="{% url 'profile:dashboard' 'my-closed-tickets' %}">{% trans 'Closed tickets' %}</a></li>
                </ul>
            </li>
            {% if user.is_named %}
                <li {% if page_type == 'my-named-tickets' or page_type == 'named-open-tickets' or page_type == 'named-closed-tickets' %}class="active"{% endif %}><a href="{% url 'profile:dashboard' 'my-named-tickets' %}">{% trans 'Company Tickets' %}</a></li>
                <li>
                    <ul>
                        <li><a {% if page_type == 'named-open-tickets' %}style="text-decoration:underline;"{% endif %} href="{% url 'profile:dashboard' 'named-open-tickets' %}">{% trans 'Open tickets' %}</a></li>
                        <li><a {% if page_type == 'named-closed-tickets' %}style="text-decoration:underline;"{% endif %} href="{% url 'profile:dashboard' 'named-closed-tickets' %}">{% trans 'Closed tickets' %}</a></li>                                 
                    </ul>
                </li>


                {% if clients %}

                  <li {% if page_type == 'partner-tickets' %}class="active"{% endif %}><a>Partner Companies</a>
                    {% for client in clients %}
                    <ul>
                      <li><a href="{% url 'profile:dashboard' 'partner-tickets' %}?partner={{client.name}}"> {{client.name}} </a></li>
                    </ul>
                    {% endfor %}
                  </li>

                {% endif %}


                <li {% if page_type == 'company-users' or page_type == 'company-partners' or page_type == 'company-booking' %}class="active"{% endif %}> <a> Support Entitlements </a>
                    <ul>
                        <li {% if page_type == 'company-users' %}style="text-decoration:underline;"{% endif %}><a href="{% url 'profile:dashboard' 'company-users' %}">{% trans 'Manage Users' %}</a></li>
                    </ul>
                    <ul>
                        <li {% if page_type == 'company-partners' %}style="text-decoration:underline;"{% endif %}><a href="{% url 'profile:dashboard' 'company-partners' %}">{% trans 'Manage Partners' %}</a></li>
                    </ul>
                    <ul>
                        <li {% if page_type == 'company-booking' %}style="text-decoration:underline;"{% endif %}><a href="{% url 'profile:dashboard' 'company-booking' %}">{% trans 'Book Meetings' %}</a></li>
                    </ul>
                </li>
            {% endif %}

            <li {% if page_type == 'my-alerts' %}class="active"{% endif %}><a href="{% url 'profile:dashboard' 'my-alerts' %}">{% trans 'My Alerts' %}</a></li>
            <li {% if page_type == 'my-profile' %}class="active"{% endif %}><a href="{% url 'profile:dashboard' 'my-profile' %}">{% trans 'My profile' %}</a></li>
            {% if user.email == 'will@gluu.org' or user.email == 'usman@gluu.org' %}
            <li {% if page_type == 'oxd-config' %} class="active" {% endif %}><a href="{% url 'profile:dashboard' 'oxd-config' %}">{% trans 'oxd Configuration' %}</a></li>
            {% endif %}
        </ul>
    </div>

    {% if user.is_named and page_type == 'company-users' and support_details %}
    <div class="well well-sm">
      <label class="info-left-result">Support Type:</label>
      {{support_details.support_plan}}
      <div class="clearfix"></div>
      <label class="info-left-result">Included Named Contacts:</label>
      {{support_details.included_contacts}} 
      <div class="clearfix"></div>
      <label class="info-left-result">Remaining Named Contacts:</label>
      {{support_details.remaining_contacts}}
    </div>
    {% endif %}

    {% if user.is_named and support_details %}
    <div class="well well-sm">
      <label class="info-left-result">Support Type:</label>
      {{support_details.support_plan}}
      <div class="clearfix"></div>
      <label class="info-left-result">Support Term:</label>
      {{support_details.start_date}} - {{support_details.renewal_date}}
      <div class="clearfix"></div>     
      <label class="info-left-result">Support Calls / Quarter:</label>
      {{support_details.available_support_time}} hours
      <div class="clearfix"></div>
      <label class="info-left-result">Review Calls / Quarter:</label>
      {{support_details.available_review_time}} hours
    </div>
    {% endif %}

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>