{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load crispy_forms_tags %}
<div class="page-header">
  <h3>{{user.company_association.name}}</h3>
</div>
<div class="row">
  {% include "profiles/dashboard_menu.html" %}

  <div class="col-md-9">
    <div>

      {% if company_users %}
      <h4>
        Company Named Contacts
        <span data-toggle="tooltip" class="glyphicon glyphicon-info-sign" title="Named contacts are able to create private tickets, view and collaborate on their colleagues' private tickets, set ticket priority, and add attachments to tickets and answers."></span>
      </h4>

      <table class="table">
        <tbody>
          {% for company_user in company_users %}
          <tr>
            <td>{{company_user.email}}</td>
            <td>{{company_user.first_name}} {{company_user.last_name}}</td>
            <td>
              {% if company_user.is_company_admin%}
                (account admin)
              {% else %}
                {% if user.is_company_admin %}
                  <a href data-target="#revokeAccessModal" data-toggle='modal' data-user='{{company_user.id}}'>Downgrade Account</a>
                {% endif %}
              {% endif %}
            </td>
            <td>
              {% if company_user.is_company_admin%}
              {% else %}
                {% if user.is_company_admin %}
                  <a href data-target="#deactivateAccountModal" data-toggle='modal' data-user='{{company_user.id}}'>Deactivate Account</a>
                {% endif %}
              {% endif %}
            </td>
            <td>
              {% if company_user.is_company_admin%}
                {% if user.is_company_admin and user != company_user%}
                  <a href="{% url 'profile:remove-company-admin' company_user.id %}">Remove Admin Status</a>
                {% endif %}
              {% else %}
                {% if user.is_company_admin %}
                  <a href="{% url 'profile:add-company-admin' company_user.id %}">Make Account Admin</a>
                {% endif %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
        <div class="gluu-company">
          There are no company accounts associated with {{user.company_association.name}} yet. 
        </div>
      {% endif %}
    </div>

    {% if user.is_company_admin %}

      {% if support_details.remaining_contacts > 0 or not support_details %}
        <h4>Add a named contact to your organization's support account</h4>
        <div>
          {% crispy invitation_form %}
        </div>
      {% else %}
        <div class="alert alert-info">
          You support plan only allows for {{support_details.included_contacts}} named contacts. Please contact <a href="mailto:support@gluu.org">support@gluu.org</a> to find out more about upgrading your support plan. 
        </div>
      {% endif %}


      {% if pending_invites %}
      <div>
        <h4>Pending Invitations</h4>
        <table class="table">
          <tbody>
          {% for invite in pending_invites %}
            <tr>
              <td>{{invite.email}}<td>
              <td><a href="{%url 'profile:resend-invite' %}?id={{invite.id}}">Resend</a></td>
              <td><a href="{%url 'profile:revoke-invite' %}?id={{invite.id}}">Revoke</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %} 
    {% endif %}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="revokeAccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4>You are about to downgrade this user's privileges.</h4>
        They will no longer be able to see or open private company tickets.
      </div>
      <div class="modal-footer">
        <a class="modal-submit"><button type="button" class="btn btn-primary">Continue</button></a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deactivateAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4>You are about to deactivate this user's account.</h4>
        They will lose all access to Gluu Support.
      </div>
      <div class="modal-footer">
        <a class="modal-submit"><button type="button" class="btn btn-primary">Continue</button></a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}

<script>

  $('#revokeAccessModal').on('show.bs.modal', function (event) {
    var user_id = $(event.relatedTarget).data('user');
    var modal = $(this)
    modal.find('.modal-submit').attr('href', '/company-users/revoke/'+ user_id +'/')
  })

  $('#deactivateAccountModal').on('show.bs.modal', function (event) {
    var user_id = $(event.relatedTarget).data('user');
    var modal = $(this)
    modal.find('.modal-submit').attr('href', '/company-users/revoke/'+ user_id +'/?deactivate=true')

  })
</script>
{% endblock js %}
