{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-header">
    <h3>{% trans "Oxd Form" %}</h3>
</div>
<div class="row">
    {% include "profiles/dashboard_menu.html" %}
    <div class="col-md-9">
        <div>
           {% crispy oxdConfigurationForm %}
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}
<script>
$(document).ready(function(){
    $("#submit-id-save").click(function(e){
        e.preventDefault();
        var all_ok = true;
        if($("#id_oxd_host").val()==""){
           $("#id_oxd_host").parent().parent().addClass("has-error");
           $("#id_oxd_host").parent().parent().find(".controls > .help-block").remove();
           $('<p  class="help-block"><strong>This field is required.</strong></p>').appendTo($("#id_oxd_host").parent().parent().find(".controls"));
           $("#id_oxd_host").focus();
           all_ok = false;

        }
        else{
            $("#id_oxd_host").parent().parent().removeClass("has-error");
            $("#id_oxd_host").parent().parent().find(".controls > .help-block").remove();
        }
        if($("#id_oxd_port").val()==""){
           $("#id_oxd_port").parent().parent().addClass("has-error");
           $("#id_oxd_port").parent().parent().find(".controls > .help-block").remove();
           $('<p  class="help-block"><strong>This field is required.</strong></p>').appendTo($("#id_oxd_port").parent().parent().find(".controls"));
           $("#id_oxd_port").focus();
           all_ok = false;

        }
        else{
            $("#id_oxd_port").parent().parent().removeClass("has-error");
            $("#id_oxd_port").parent().parent().find(".controls > .help-block").remove();
        }
        if($("#id_client_op_host").val()==""){
           $("#id_client_op_host").parent().parent().addClass("has-error");
           $("#id_client_op_host").parent().parent().find(".controls > .help-block").remove();
           $('<p  class="help-block"><strong>This field is required.</strong></p>').appendTo($("#id_client_op_host").parent().parent().find(".controls"));
           $("#id_client_op_host").focus();
           all_ok = false;

        }
        else{
            $("#id_client_op_host").parent().parent().removeClass("has-error");
            $("#id_client_op_host").parent().parent().find(".controls > .help-block").remove();
        }
        if($("#id_client_authorization_redirect_uri").val()==""){
           $("#id_client_authorization_redirect_uri").parent().parent().addClass("has-error");
           $("#id_client_authorization_redirect_uri").parent().parent().find(".controls > .help-block").remove();
           $('<p  class="help-block"><strong>This field is required.</strong></p>').appendTo($("#id_client_authorization_redirect_uri").parent().parent().find(".controls"));
           $("#id_client_authorization_redirect_uri").focus();
           all_ok = false;

        }
        else{
            $("#id_client_authorization_redirect_uri").parent().parent().removeClass("has-error");
            $("#id_client_authorization_redirect_uri").parent().parent().find(".controls > .help-block").remove();
        }
        if($("#id_client_post_logout_redirect_uri").val()==""){
           $("#id_client_post_logout_redirect_uri").parent().parent().addClass("has-error");
           $("#id_client_post_logout_redirect_uri").parent().parent().find(".controls > .help-block").remove();
           $('<p  class="help-block"><strong>This field is required.</strong></p>').appendTo($("#id_client_post_logout_redirect_uri").parent().parent().find(".controls"));
           $("#id_client_post_logout_redirect_uri").focus();
           all_ok = false;

        }
        else{
            $("#id_client_post_logout_redirect_uri").parent().parent().removeClass("has-error");
            $("#id_client_post_logout_redirect_uri").parent().parent().find(".controls > .help-block").remove();
        }
        if($("#id_client_scope").val()==""){
           $("#id_client_scope").parent().parent().addClass("has-error");
           $("#id_client_scope").parent().parent().find(".controls > .help-block").remove();
           $('<p  class="help-block"><strong>This field is required.</strong></p>').appendTo($("#id_client_scope").parent().parent().find(".controls"));
           $("#id_client_scope").focus();
           all_ok = false;

        }
        else{
            $("#id_client_scope").parent().parent().removeClass("has-error");
            $("#id_client_scope").parent().parent().find(".controls > .help-block").remove();
        }
        if($("#id_client_id").val()==""){
           $("#id_client_id").parent().parent().addClass("has-error");
           $("#id_client_id").parent().parent().find(".controls > .help-block").remove();
           $('<p  class="help-block"><strong>This field is required.</strong></p>').appendTo($("#id_client_id").parent().parent().find(".controls"));
           $("#id_client_id").focus();
           all_ok = false;

        }
        else{
            $("#id_client_id").parent().parent().removeClass("has-error");
            $("#id_client_id").parent().parent().find(".controls > .help-block").remove();
        }
        if($("#id_client_secret").val()==""){
           $("#id_client_secret").parent().parent().addClass("has-error");
           $("#id_client_secret").parent().parent().find(".controls > .help-block").remove();
           $('<p  class="help-block"><strong>This field is required.</strong></p>').appendTo($("#id_client_secret").parent().parent().find(".controls"));
           $("#id_client_secret").focus();
           all_ok = false;

        }
        else{
            $("#id_client_secret").parent().parent().removeClass("has-error");
            $("#id_client_secret").parent().parent().find(".controls > .help-block").remove();
        }
        if($("#id_client_grant_types").val()==""){
           $("#id_client_grant_types").parent().parent().addClass("has-error");
           $("#id_client_grant_types").parent().parent().find(".controls > .help-block").remove();
           $('<p  class="help-block"><strong>This field is required.</strong></p>').appendTo($("#id_client_grant_types").parent().parent().find(".controls"));
           $("#id_client_grant_types").focus();
           all_ok = false;

        }
        else{
            $("#id_client_grant_types").parent().parent().removeClass("has-error");
            $("#id_client_grant_types").parent().parent().find(".controls > .help-block").remove();
        }
        if($("#id_client_id_issued_at").val()==""){
           $("#id_client_id_issued_at").parent().parent().addClass("has-error");
           $("#id_client_id_issued_at").parent().parent().find(".controls > .help-block").remove();
           $('<p  class="help-block"><strong>This field is required.</strong></p>').appendTo($("#id_client_id_issued_at").parent().parent().find(".controls"));
           $("#id_client_id_issued_at").focus();
           all_ok = false;

        }
        else{
            $("#id_client_id_issued_at").parent().parent().removeClass("has-error");
            $("#id_client_id_issued_at").parent().parent().find(".controls > .help-block").remove();
        }

        if(all_ok){
            $(".oxd_form").submit();
        }

    });
});

</script>
{% endblock js %}
