
{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<div class="form-area registered-info">
    <div class="col-md-8 form-left-area register">
        <div class="page-header">
            {% if registration_form.email %}
            <h3>{% trans "Register for Gluu Support" %} </h3>
            {% else %}
            <h3>{% trans "Complete your account registration" %} </h3>
            {% endif %}
        </div>
           {% crispy registration_form %}
    </div>
    <div class="col-md-4 form-side-bar">
        <div class="gluu-info-box">
        <h3>Community Support</h3>
        <ul>
          <li>Free to register & use!</li>
          <li>All tickets are public</li>
          <li>No guaranteed responses<p>(although we do our best to respond to all tickets)</p></li>
        </ul>
        </div>
        <div class="gluu-info-box">
        <h3>VIP Support</h3>
        <ul>
          <li>Support tickets are private</li>
          <li>Guaranteed responses from Gluu staff</li>
          <li>Quarterly alottment of support and consultation calls</li>
          <li>Access to commercial Gluu tools and apps</li>
            <p><a href="https://www.gluu.org/gluu-server/pricing/" target="_blank" >View pricing & entitlements</a></p>
        </ul>
      </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    $(document).ready(function() {
        if($("#id_company").val() == ""){
            $("#id_company").removeAttr("readonly");
        }else{
            $("#id_company").css("background", "#eee");
        }
        $(document).delegate("#edit-co", "click",function(){
            $("#id_company").removeAttr("readonly");
            $("#id_company").css("background", "#f9f9f8");
        });
        $( "#div_id_company label" ).after( "<p id='edit-co' class='pull-right'><span class='glyphicon glyphicon-edit'></span></p>" );
        $("#submit-id-save").on("click", function(){
            $("#id_company").removeAttr("readonly");
        });
        $('#hint_id_email').removeClass('help-block');
        $('#id_timezone').select2();
    });
</script>
{% endblock js %}
