{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="page-header">
    <h3>{% trans "View Users" %}</h3>
</div>
<div class="row">
    {% include "profiles/dashboard_menu.html" %}
    <div class="col-md-9">
        {% if request.user.email == "" %}
           <div class="">
            <!--<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" rel="stylesheet">-->
            <!--<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js" language="javascript" type="text/javascript"></script>-->
           <!--<span class="dashboard_filer_button"><span class="glyphicon glyphicon-plus-sign"></span> Export Users</span>-->
           <form class="form-inline custom-top-form" action="{% url 'profile:dashboard' 'export_users' %}" method="get" style="display:block;">
            <div class="col-xs-6">
               <div class="col-xs-12 top-input-box pull-left">
                   <div class="form-group">
                        <input class="form-group all_users" type="radio" name="all_users" value="all_users" >
                        <label for="all_users">All</label>
                   </div>
                   <div class="form-group">
                        <input class="form-group custom_users" type="radio" name="all_users" value="custom_users" >
                        <label for="custom_users">Custom</label>
                   </div>
               </div>
               <div class="col-xs-12 top-input-box pull-left gluu_plan_users second-col">
                        {% for data in plan %}
                   <div class="form-group">
                            <input class="plan_users" type="checkbox" id="plan_users" name="plan_users" value="{{data}}">
                            <label for="plan_users" style="margin-right: 10px;">{{data}}</label>
                       </div>
                       {% endfor %}
               </div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-12 top-input-box pull-left users-action">
                  <div class="form-group">
                       <input class="form-group user-right-filter" type="checkbox" name="active_users" value="active_users" >
                       <label for="select-main">Active</label>
                  </div>
                  <div class="form-group">
                       <input class="form-group user-right-filter" type="checkbox" name="inactive_users" value="inactive_users" >
                       <label for="select-main">In-Active</label>
                  </div>
              </div>

              <div class="col-xs-12 top-input-box pull-left customer_users second-col">
                  <div class="form-group">
                       <input class="form-group user-right-filter" type="checkbox" name="customer" value="customer">
                       <label for="select-main">Customer</label>
                  </div>
                  <div class="form-group">
                       <input class="form-group user-right-filter" type="checkbox" name="ex_customer" value="ex_customer" >
                       <label for="select-main">Ex-Customer</label>
                  </div>
		  <div class="form-group">
                       <input class="form-group user-right-filter" type="checkbox" name="managed_service" value="managed_service" >
                       <label for="select-main">Managed Service</label>
                  </div>
              </div>
            </div>
            <div class="col-xs-8 form-group caution_users">

                   <span class="comunity_plan" style="display:none;color:#cc130f;">
                       <p>* All non-named users having </p> <p class="text"> </p> <p> plan will be exported </p>
                   </span>
                   <span class="other_plan" style="display:none;color:#cc130f;">
                       <p>* All named users having </p> <p class="text"> </p> <p> plan will be exported </p>
                   </span>
                   <span class="select_any_checkbox" style="display:none;color:#cc130f;">
                       <p style="margin: 20px 0 10px;float: left; margin-top: 18px; width: 100%; line-height: normal; font-size: 13px; font-style: italic;">
                           * Please Select Support Plan...
                       </p>
                   </span>
               </div>
               <div class="form-group pull-right for-mar export-btn">
                   <button class="btn btn-primary export-users-btn" type="submit" name="export">Export Users</button>
               </div>
               <div class="clearfix"></div>
           </form>
        </div>
        {% endif %}
        <table id="dashboardtable" width="850" class="compact table table-hover table-dashboard table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Number</th>
                <th>Type</th>
                <th>Company</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td class="user_id">{{user.id}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
                {% if user.mobile_number != "" %}
                    <td>{{user.mobile_number}}</td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
                    <td>
                        {% if user.crm_type == "user" %}
                            <span class="label label-user">{{user.crm_type}}</span>
                        {% elif user.crm_type == "admin"%}
                            <span class="label label-admin">{{user.crm_type}}</span>
                        {% elif user.crm_type == "staff"%}
                            <span class="label label-staff">{{user.crm_type}}</span>
                        {% elif user.crm_type == "named" and user.is_company_admin %}
                            <span class="label label-named">Account Admin</span>
                        {% elif user.crm_type == "named"%}
                            <span class="label label-named">{{user.crm_type}}</span>
                        {% endif %}
                    </td>
                {% if user.company != "" %}
                    <td>{{user.company}}</td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="detail_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">User Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6" style="margin-left:20px;"><h4>Name:</h4></div>
                    <div class="col-md-5 name" style="margin-top:10px;">12334</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6" style="margin-left:20px;"><h4>Email:</h4></div>
                    <div class="col-md-5 email" style="margin-top:10px;">12334</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6" style="margin-left:20px;"><h4>Number:</h4></div>
                    <div class="col-md-5 number" style="margin-top:10px;">12334</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6" style="margin-left:20px;"><h4>Type:</h4></div>
                    <div class="col-md-5 type" style="margin-top:10px;">12334</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6" style="margin-left:20px;"><h4>Company:</h4></div>
                    <div class="col-md-5 company" style="margin-top:10px;">12334</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6" style="margin-left:20px;"><h4>Added At:</h4></div>
                    <div class="col-md-5 added_at" style="margin-top:10px;">12334</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}
{% block js %}
<script>
    $(".export-users-btn").on('click', function(){
        if( $(".all_users").is(':checked') ){
            if( $(".user-right-filter").is(":checked") )
            {
                return true;
            }else{
                $(".users-action").css("border", "1px solid #a94442");
                $(".customer_users").css("border", "1px solid #a94442");
                return false;
            }
        }else{
            if( $(".custom_users").is(":checked") ){
                if( $(".plan_users").is(":checked") ){
                    if( $(".user-right-filter").is(":checked") ){
                        $(".select_any_checkbox").hide();
                        $(".gluu_plan_users").css("border", "1px solid #eee");
                        return true;
                    }else{
                        $(".users-action").css("border", "1px solid #a94442");
                        $(".customer_users").css("border", "1px solid #a94442");
                        return false;
                       }
                }else{
                    $(".select_any_checkbox").show();
                    $(".gluu_plan_users").css("border", "1px solid #a94442");
                    return false;
                }
            }else{
                return false;
            }
        }
    });

    $(".all_users").prop('checked', 'checked');
    $(".customer_users :input").attr("disabled", false);
    $(".customer_users label").css("color", "#686868");
    $(".gluu_plan_users input").attr("disabled", true);
    $(".gluu_plan_users label").css("color", "#bdbbb4");
    $(".caution_users").append('<span class="caution" style="color:#cc130f;">* All named and non-named users will be exported</span>');
    $(".other_plan").hide();
    $(".comunity_plan").hide();

    $(".all_users").change(function(){
        $(".customer_users :input").attr("disabled", false);
        $(".customer_users label").css("color", "#686868");
        $(".gluu_plan_users input").attr("disabled", true);
        $(".gluu_plan_users label").css("color", "#bdbbb4");
        $(".caution_users").append('<span class="caution" style="color:#cc130f;">* All named and non-named users will be exported</span>');
        $(".other_plan").hide();
        $(".comunity_plan").hide();
        $(".plan_users").prop('checked', false);
        $(".gluu_plan_users").css("border", "1px solid #eee");
        $(".select_any_checkbox").hide();
    });
    $(".custom_users").change(function(){
        $(".customer_users :input").attr("disabled", false);
        $(".customer_users label").css("color", "#686868");
        $(".gluu_plan_users input").attr("disabled", false);
        $(".gluu_plan_users label").css("color", "#686868");
        $(".caution").remove();
        $(".select_any_checkbox").hide();
    });
    $(".form-group").change(function(){
        $(".users-action").css("border", "1px solid #eee");
        $(".customer_users").css("border", "1px solid #eee");
    });


    $(".plan_users").change(function(){
        $(".gluu_plan_users").css("border", "1px solid #eee");
        $(".select_any_checkbox").hide();
        var text = "";
        $(".plan_users:checked").each(function(){
            text += text != "" ? ", " : "";
            if ($(this).prop("checked")){
                text += $(this).val();
                if(text == "Community"){
                    $(".customer_users :input").attr("disabled", true);
                    $(".customer_users label").css("color", "#bdbbb4");
                    $(".other_plan").hide();
                    $(".text").text(text);
                    $(".comunity_plan").show();
                }else{
                    $(".customer_users :input").attr("disabled", false);
                    $(".customer_users label").css("color", "#686868");
                    $(".comunity_plan").hide();
                    $(".text").text(text);
                    $(".other_plan").show();
                }
               }
        });
        if(text == ""){
            $(".customer_users :input").attr("disabled", false);
            $(".customer_users label").css("color", "#686868");
            $(".other_plan").hide();
            $(".comunity_plan").hide();
        }
    });
</script>
<script>
    $('#dashboardtable').DataTable({
        "processing": true,
        "paging":   true,
        "autoWidth": true,
        "responsive": true,
        "ordering": true,
        "info":     true,
        "searching": true,
        "scrollX": false,
        "scrollY": false,
        "aaSorting" : [[0, 'desc']],
    });

</script>
{% endblock js %}
