{% extends 'emails/base_template.html' %}
{% block content %}
{% load gluu_tags %}
<div class="message_container">
	<p>Hello {{user}},</p>
	<p>The following tickets on Gluu support are assigned to you. Highlighted tickets are either from enterprise support customers, or are idle tickets that have been inactive for more than 10 days.</p>

	<div class="digest">

		{% if named_tickets %}
		<h4>Customer Tickets:</h4>
		<table>
			<thead>
				<tr>
					<td>Ticket</td>
					<td class="centered">Service Level</td>
					<td class="centered">Priority</td>
					<td class="centered">Last Updated</td>
				</tr>
			</thead>
			<tbody>
				{% for ticket in named_tickets %}
				<tr {% if ticket.support_plan.support_plan == "Enterprise" or ticket.is_overdue %} class="important" {% endif %}>
					<td>
						<a href="{{base_url}}{{ticket | linkify }}" target="_blank">{{ticket.title | truncatechars:30 }}</a><br/>
						 by {{ticket.owned_by}} ({{ticket.owned_by.get_company}})
					</td>
					<td class="centered">{{ticket.support_plan.support_plan}}</td>
					{% if ticket.issue_type %}
						<td class="centered">{{ticket.get_issue_type_display}}</td>
					{% else %}
						<td class="centered">N/A</td>
					{% endif %}

					<td class="centered">{{ticket.date_modified | timesince}} ago</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}

		{% if community_tickets %}
		<h4>Community and Staff Tickets:</h4>
		<table>
			<thead>
				<tr>
					<td>Ticket</td>
					<td>Last Updated</td>
				</tr>
			</thead>
			<tbody>
				{% for ticket in community_tickets %}
				<tr>
					<td>
						<a href="{{base_url}}{{ticket | linkify }}" target="_blank">{{ticket.title | truncatechars:50 }}</a>
						 by {{ticket.owned_by}}
					</td>
					<td>{{ticket.date_modified | timesince}} ago </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}

	</div>
	<p>
		Thank you for your attention to these support tickets.<br/>
		Gluu Support
	</p>

	<p>p.s. This is an automated email sent every 24 hours. If you notice issues, or have feedback, please send a note to will@gluu.org.</p>
</div>

{% endblock %}