{% load i18n %}
{% load compress %}
{% load static from staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if ticket.description %}
        <meta name="description" content="{{ticket.description|slice:':150'}}">
        {% endif %}
        {% if keyword_array %}
        <meta name="keywords" content="{% for keywords in keyword_array %}{{keywords}}, {% endfor %}gluu support">
        {% else %}
        <meta name="keywords" content="open source, single sign-on, sso, access management, strong authentication, api security, app security, identity and access management, iam, 2fa">
        {% endif %}
        <meta name="author" content="">
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
        {% if ticket.title %}
        <title>Gluu Support- {{ ticket.title }}</title>
        {% else %}
        <title>Gluu Support</title>
        {% endif %}
        {% compress css %}
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/jquery-ui.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-markdown.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-toggle.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/datatables.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/select2-bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/chosen.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/fine-uploader-new.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-tagsinput.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
        {% block headcss %}{% endblock headcss %}
        {% endcompress %}

        {% compress js %}

        <script src="{{STATIC_URL}}js/jquery.js" language="javascript" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/jquery-ui.min.js" language="javascript" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/chosen.jquery.min.js" language="javascript" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/bootstrap.min.js" language="javascript" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/datatables.min.js" language="javascript" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/bootstrap-toggle.min.js" language="javascript" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/select2.min.js" language="javascript" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/marked.js" language="javascript" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/bootstrap-markdown.js" language="javascript" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/to-markdown.js" language="javascript" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/dataTables.responsive.js" language="javascript" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/fine-uploader.js"></script>
        {% block headjs %}{% endblock headjs %}
        {% endcompress %}
        <script src="{{STATIC_URL}}js/app.js" language="javascript" type="text/javascript"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="form-section-page">
        <div id="show_alert" style="display: none; height: 35px; margin-bottom: 0; padding: 5px; position: relative; text-align: center; top: 0; width: 100%; z-index: 100001;" class="alert alert-success alert-dismissible" role="alert">
          <button id="close_alert" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          {% trans "This system is currently in Beta. Please report any issues or feedback to" %} <a href="mailto:support@gluu.org">support@gluu.org</a>
        </div>

        <nav class="navbar navbar-default navbar-fixed-top navbar-gluu" role="navigation">
            <div class="container header_container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gluu-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navbar-brand-gluu" href="http://www.gluu.org/">
                        <img class="gluu-logo" src="{{ STATIC_URL }}img/logo.png" alt="Gluu Support"/>
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="gluu-navbar-collapse">
                    <a role="button" class="btn btn-default navbar-btn navbar-right btn-nav-color navbar-gluu-button" type="button" href='/'><span class="glyphicon glyphicon-home"></span></a>
                    {% if user.is_authenticated %}
                    <a class="btn btn-primary btn-white navbar-btn navbar-right btn-nav-color navbar-gluu-button" role="button"  href="{% url 'add_ticket' %}">New Ticket</a>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.first_name}} {{user.last_name}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if user.is_admin %}
                                    <li><a href="{% url 'profile:dashboard' 'open-tickets' %}">My Dashboard</a></li>
                                {% else %}
                                    <li><a href="{% url 'profile:dashboard' 'my-tickets' %}">My Dashboard</a></li>
                                {% endif %}
                                <li class="divide r"></li>
                                <li><a href="{% url 'profile:dashboard' 'my-profile' %}">My Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'profile:logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}

                        <a role="button" class="btn btn-success btn-white navbar-btn navbar-right btn-nav-color navbar-gluu-button" type="button" href="{% url 'profile:register'%}">Register</a>
                        <a role="button" class="btn btn-success btn-white navbar-btn navbar-right btn-nav-color navbar-gluu-button" type="button" href="{% url 'social:begin' 'gluu' %}?next={{ request.path }}">Login</a>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Docs <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://devsup.gluu.org/dev-docs" target="_blank">Support Portal</a></li>
                                <li class="divider"></li>
                                <li><a href="https://gluu.org/docs" target="_blank">Gluu Server CE</a></li>
                                <li class="divider"></li>
                                <li><a href="https://oxd.gluu.org/docs" target="_blank">oxd</a></li>
                            </ul>
                        </li>
                    </ul>                    
                    <div class="clearfix"></div>
                </nav>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="container">
            {% include "breadcrumb.html" %}
        </div>
        <div class="clearfix"></div>
        <div class="container gluu-base-container">

            {% if messages %}
            <div class="gluu-messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}



            {% block content %}{% endblock content %}
            <span id="bottom-link-block" class="hidden"><img src="{{STATIC_URL}}img/arrow_down.png"></span>
            <span id="top-link-block" class="hidden"><img src="{{STATIC_URL}}img/topup.png"></span>


        </div>
        <footer class="container main-footer">
            <hr class="top-footer-line">
            <div class="row">
                <div class="col col-sm-2 social-links-wrapper">
                    <div class="menu-footer_nav-container"><ul class="footer-nav" id="menu-footer_nav"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5620" id="menu-item-5620"><a href="http://www.gluu.org/company/our-story/" title="About Gluu">Company</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5621" id="menu-item-5621"><a href="http://www.gluu.org/partners/overview/" title="Gluu Partners">Partners</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4170" id="menu-item-4170"><a href="http://news.gluu.org" title="Industry News">News</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3242" id="menu-item-3242"><a href="http://www.gluu.org/blog/" title="Gluu Blog">Blog</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3247" id="menu-item-3247"><a href="https://support.gluu.org/" title="Support Center">Support</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5746" id="menu-item-5746"><a href="http://gluu.org/docs" title="Gluu Server Documentation">Documentation</a></li>
                    </ul></div>
                    <ul class="social-links">
                        <li>
                            <a class="social-net general-social_twitter_ic" href="https://twitter.com/GluuFederation">
                                &nbsp;
                            </a>
                        </li>
                        <li>
                            <a class="social-net general-social_utube_ic" href="https://www.youtube.com/user/GluuOrg">
                                &nbsp;
                            </a>
                        </li>
                        <li>
                            <a class="social-net general-social_in_ic" href="http://www.linkedin.com/company/gluu-inc.">
                                &nbsp;
                            </a>
                        </li>
                        <li>
                            <a class="social-net general-social_slideshare_ic" href="http://www.slideshare.net/gluu">
                                &nbsp;
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col col-sm-7">
                    <div class="row">
                        <div role="complementary" class="widget-area">
                            <div class="first front-widgets">
                                <div class="widget rpwe_widget recent-posts-extended col col-sm-5 col-sm-offset-1" id="rpwe_widget-2">
                                    <div class="widget-title">Press Releases</div>
                                    <div class="rpwe-block">
                                        <ul class="rpwe-ul">
                                            {% if press_releases %}
                                                {% for p in press_releases %}
                                                    <li class="rpwe-clearfix"><h3 class="rpwe-title"><a rel="bookmark" title="{{p.title}}" href="{{p.link}}">{{p.title}}</a></h3></li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <a href="http://www.gluu.org/resources/press-releases/" class="view-all-link">View All</a>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget_reallysimpletwitterwidget col col-sm-5 col-sm-offset-1" id="reallysimpletwitterwidget-2">
                            <div class="widget-title">Last Tweets</div>
                            <div class="rpwe-block">
                                <ul class="rpwe-ul">
                                    {% if tweets %}
                                        {% for t in tweets %}
                                            <li class="rpwe-clearfix">
                                                <h3 class="rpwe-title">{{t.text}}</h3>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            <a href="https://twitter.com/GluuFederation" class="twitter-follow-link">Follow Us</a>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-3 question-container">
                    <h4>Questions?</h4>

                    <div class="gray-btn-wrapper">
                        <a href="http://gluu.youcanbook.me" class="gray-btn md">
                        <span>Schedule a Demo</span>
                        <i class="gluu_ic general-chevron"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-sm-12">
                    <hr class="bottom-footer-line">
                </div>
            </div>

            <div class="row">
                <div class="col col-sm-12">
                    <ul class="copyright-list">
                        <li>@ 2009-{% now 'Y' %} Gluu, Inc.</li>
                        <li><a href="http://www.gluu.org/terms">Terms</a></li>
                        <li><a href="http://www.gluu.org/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

        </footer>
        {% block js %}{% endblock js %}
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-31008645-4', 'auto');
        ga('send', 'pageview');

        </script>
    </body>
</html>
