{% load i18n %}
<ul class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    {% if page_type == 'register'%}
        <li>Register</li>
    {% endif %}
    {% if page == 'dashboard' %}
        {% if user.is_admin %}
            <li><a href="{% url 'profile:dashboard' 'open-tickets' %}">Dashboard</a></li>
        {% else %}
            <li><a href="{% url 'profile:dashboard' 'my-tickets' %}">Dashboard</a></li>
        {% endif %}
        {% if page_type == 'my-assignments' %}
            <li class="active">{% trans 'My Assignments' %}</li>
        {% endif %}
        {% if page_type == 'wachlist' %}
            <li class="active">{% trans 'Wachlist' %}</li>
        {% endif %}
        {% if page_type == 'unassigned' %}
            <li class="active">{% trans 'Unassigned' %}</li>
        {% endif %}
        {% if page_type == 'all-open-tickets' %}
            <li class="active">{% trans 'All Open Tickets' %}</li>
        {% endif %}
        {% if page_type == 'all-tickets' %}
            <li class="active">{% trans 'All Tickets' %}</li>
        {% endif %}
        {% if page_type == 'my-tickets' %}
            <li class="active">{% trans 'My Tickets' %}</li>
        {% endif %}
        {% if page_type == 'my-named-tickets' %}
            <li class="active">{% trans 'Company Tickets' %}</li>
        {% endif %}
        {% if page_type == 'my-alerts' %}
            <li class="active">{% trans 'My Alerts' %}</li>
        {% endif %}
        {% if page_type == 'in-progress-tickets' %}
            <li><a href="{% url 'profile:dashboard' 'my-assignments' %}">{% trans 'My Assignments' %}</a></li>
            <li class="active">{% trans 'Tickets in progress' %}</li>
        {% endif %}
        {% if page_type == 'pending-tickets' %}
            <li><a href="{% url 'profile:dashboard' 'my-assignments' %}">{% trans 'My Assignments' %}</a></li>
            <li class="active">{% trans 'Pending tickets' %}</li>
        {% endif %}
        {% if page_type == 'on-hold-tickets' %}
            <li><a href="{% url 'profile:dashboard' 'my-assignments' %}">{% trans 'My Assignments' %}</a></li>
            <li class="active">{% trans 'On hold tickets' %}</li>
        {% endif %}
        {% if page_type == 'my-profile' %}
            <li class="active">{% trans 'My profile' %}</li>
        {% endif %}
    {% endif %}
    {% if page == 'list' %}
        <li class="active">{{category}}</li>
    {% endif %}
    {% if page == 'view' %}
        <li class="active"><a href="{% url 'tickets_lists' ticket.get_ticket_category_display|slugify %}">{{ticket.get_ticket_category_display}}</a></li>
        <li class="active">{{ticket.title}}</li>
    {% endif %}
    {% if page == 'add' %}
        <li class="active">{% trans 'Add a new ticket' %}</li>
    {% endif %}
    {% if page_name == 'search' %}
        <li class="active">{% trans 'Search' %} - #{{query}}</li>
    {% endif %}
    {% if page == 'edit' %}
        {% if user.is_admin %}
            <li><a href="{% url 'profile:dashboard' 'open-tickets' %}">Dashboard</a></li>
        {% else %}
            <li><a href="{% url 'profile:dashboard' 'my-tickets' %}">Dashboard</a></li>
        {% endif %}
        <li class="active">{{ticket.title}}</li>
    {% endif %}
    {% if page == 'history' %}
        {% if user.is_admin %}
            <li><a href="{% url 'profile:dashboard' 'open-tickets' %}">Dashboard</a></li>
        {% else %}
            <li><a href="{% url 'profile:dashboard' 'my-tickets' %}">Dashboard</a></li>
        {% endif %}
        <li class="active">{{ticket.title}}</li>
    {% endif %}
    {% if page == 'profile_dashboard' %}
        {% if user.is_admin %}
            <li><a href="{% url 'profiles' %}">Profiles</a></li>
        {% else %}
            <li><a href="{% url 'profile:my_profile' %}">My Profile</a></li>
        {% endif %}
        <li class="active">{% trans 'All Profiles' %}</li>
    {% endif %}
    {% if page == 'profile-edit' %}
        {% if user.is_admin or user.is_manager %}
            <li><a href="{% url 'profiles' %}">Profiles</a></li>
        {% else %}
            <li><a href="{% url 'profile:my_profile' %}">My Profile</a></li>
        {% endif %}
        <li class="active">{{first_name}} {{last_name}}</li>
    {% endif %}
    {% if user.is_authenticated %}
        {% if user.is_admin %}
            <a style="float:right; content:none" href="{% url 'profile:dashboard' 'open-tickets' %}">Dashboard</a>
        {% else %}
            <a style="float:right; content:none" href="{% url 'profile:dashboard' 'my-tickets' %}">Dashboard</a>
        {% endif %}
    {% endif %}
</ul>

