{% extends 'base.html' %}
{% load i18n %}
{% load gluu_tags %}
{% block main_id %}id="homepage"{% endblock main_id %}
{% block content %}
<div id="homepage">
    <div class="welcome">
        <h1>{% trans "Have a Question?" %}</h1>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
             <p>{% trans "Anyone can browse Q & A's and register to open public tickets. Gluu Customers can register using their organization specific email address to enlist private support." %}</p>
            </div>
        </div>
    </div>

    <form id="search_homepage" role="form" action="{% url 'haystack_search' %}" method="get">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7 search-field">
                    {{search_form.q}}
                    <span class="loader-div">
                        <img src="/static/img/search-loader.gif"/>
                    </span>
                </div>
                <div class="col-md-3">
                    {{search_form.category}}
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" type="submit">Search</button>
                </div>
            </div>
        </div>
    </form>
    <div id="preview"></div>
    {% if categories %}
        <div class="row">
            {% for cat in categories %}
                <div class="col-md-6">
                    <h2>{{cat.name}} ({{cat.tickets_no}})
                        <a href="{% url 'tickets_lists' cat.slug %}" class="btn btn-default btn-sm" style="float:right">View all</a>
                    </h2>
                    <ul class="list-group">
                        {% for t in cat.tickets %}
                            <li class="list-group-item {{t.priority|lower}}"><a class="viewd_link" href="{{t|linkify}}" class="ticket_name">{{t.title|truncatechars:60}}</a>
                                <ul class="list-inline">
                                    <li><span class="label label-{{t.status|slugify|lower}}">{{t.status}}</span></li>
                                    {% if user.is_admin %}
                                        <li><span class="label label-{% if t.is_private %}private{% else %}public{% endif %}">{% if t.is_private %}private{% else %}public{% endif %}</span></li>
                                    {% endif %}
                                    <li><span class="badge">{{t.answers_no}}</span> {% trans "response" %}{{t.answers_no|pluralize}}</li>
                                    <li>{% trans 'by' %} {{t.owned_by.first_name}} <span class="label label-{{t.owned_by.get_type}}">{{t.owned_by.get_type}}</span></li>
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if forloop.counter|divisibleby:"2" %}
                    {% if forloop.last %}
                        </div>
                    {% else %}
                        </div> <hr><div class="row">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock content %}

{% block js %}
<script src="/static/js/jquery.autocomplete.js" language="javascript" type="text/javascript"></script>
<script src="/static/js/live_search.js" language="javascript" type="text/javascript"></script>
<script>
    App.pageName = 'homepage';
</script>
{% endblock js %}

{% block headcss %}
<link href="{{ STATIC_URL }}css/daterangepicker.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/autocomplete-styles.css" rel="stylesheet">
{% endblock headcss %}

{% block headjs %}
<script src="{{STATIC_URL}}js/moment.js" language="javascript" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery.daterangepicker.js" language="javascript" type="text/javascript"></script>
{% endblock headjs %}
